body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #E8FFF1;
  color: #003846;
}

/* NAVBAR */
nav {
  background: #003846;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* BUTTON */
.btn {
  background: #00A86B;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
